* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
}

/* logo */
.intro {
  z-index: 1;
  position: absolute;
  top: 15vh;
  left: 10vh;
}
.intro-logo {
  opacity: 0;
  transform: translateX(-60px);
  transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}

.intro-logo.show {
  opacity: 1;
  transform: translateX(0);
}

.typing-text {
  margin-top: 47px;

  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 2.1%;
  color: #ffffff;

  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
}

.typing-text span {
  opacity: 0;
  display: inline-block;
  animation: revealChar 0.3s ease-out forwards;
}

@keyframes revealChar {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#works-page {
  position: fixed;
  inset: 0;
  z-index: 8;
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* pointer-events: none; */
  opacity: 0;
  background-color: #000;
}

#works-page.show {
  opacity: 1;
  pointer-events: auto;
}

.works-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 10px;
  transform: translateY(40px);
  opacity: 0;
}

.works-row.is-visible {
  transform: translateY(0);
  opacity: 1;
}

.works-row.is-visible .work-item {
  transform: translateX(0);
}

.works-content {
  padding: 20vh 10px 10px 10px;
  overflow-y: auto;
}

.work-item {
  aspect-ratio: 3 / 5;
  overflow: hidden;
  border-radius: 2px;
  background: #693d3d;
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(100vw);
}

.work-item:nth-child(1) {
  transition-delay: 0.1s;
}
.work-item:nth-child(2) {
  transition-delay: 0.2s;
}
.work-item:nth-child(3) {
  transition-delay: 0.3s;
}

.work-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


#overlay {
  position: fixed;
  inset: 0;
  background: black;
  pointer-events: none;
  opacity: 0;
  z-index: 2;
}

#overlay.fade-out {
  background: white;
  opacity: 0 !important;
  transition: background-color 0.6s ease, opacity 6s ease;
}

#pixel-canvas {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  image-rendering: pixelated;
}

#effect-explosion {
  position: fixed;
  inset: 0;
  z-index: 9;
  pointer-events: none;
  opacity: 0;
}

#effect-explosion-video {
  width: 40%;
  transform: translate(5%, 130%);
  height: 40%;
  object-fit: contain;
}

.box {
  width: 50px;
  margin-bottom: 23%;
}
#bg-video {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
  clip-path: circle(0% at 50% 50%);
}

#loading-wrapper {
  pointer-events: none;
  position: fixed;
  inset: 0;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  transition: opacity 0.8s ease;
}

#lottie {
  width: 100vw;
  height: 100vh;
}

video {
  width: 100%;
  height: auto;
}

#main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 10;

  opacity: 0;
  pointer-events: none;
  padding-top: 22px;

  transform: translateY(-12px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

#main-header.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.sidebar {
  flex-basis: 20%;
  display: flex;
  align-items: center;
  padding-right: 22px;
  justify-content: space-between;
}

.sidebar a {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.005em;
  text-decoration: none;
  color: #ffffff;
}

.sidebar a:hover {
  opacity: 0.7;
}
.logo {
  padding-left: 22px;
}

.logo image {
  width: 80%;
}
.content-background {
  position: fixed;
  inset: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  pointer-events: none;
}

.content-background img {
  max-width: 90vw;
  height: auto;
}

#lottie,
#lottieBg,
#lottie-works {
  position: absolute;
  inset: 0;
}

#lottie-suwa {
  position: absolute;
}

#lottie-suwa svg {
  width: 100vw !important;
  height: 100vh !important;
}

#lottie {
  z-index: 1;
}

#lottieBg {
  z-index: 2;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#lottie-works {
  z-index: 3;
}

#lottie-suwa {
  z-index: 4;
}

.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6%;

  transform: translateY(120px);
  opacity: 0;
  padding: 22px;

  transition: transform 1s ease-out, opacity 1s ease-out;
}

.content.show {
  transform: translateY(0);
  opacity: 1;
}

.title {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-weight: 700;
  font-size: 79px;
  line-height: 100%;
  color: #ffffff;
}

.subText {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  color: #ffffff;
}

#mobile-overlay-blur {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  display: none;
}

.mobile-menu,
.mobile-menu-btn {
  display: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .sidebar {
    display: none;
  }

  .content {
    margin-top: 3%;
  }

  .box {
    margin-bottom: 30%;
  }

  .title {
    font-size: 44px !important;
  }

  .subText {
    font-size: 23px !important;
  }
  .intro-logo {
    margin-left: 10vw !important;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 27px;
  }

  .subText {
    font-size: 13px;
  }
  .content {
    margin-top: -3%;
  }

  .logo img {
    width: 80%;
  }

  .box {
    margin-bottom: 25%;
  }
}

@media (max-width: 1024px) {
  .sidebar {
    display: none;
  }

  #lottieBg svg {
    margin-bottom: 60px;
    transform: scale(1.3) !important;
  }

  .mobile-menu-btn {
    position: fixed;
    top: 22px;
    right: 22px;
    z-index: 20;
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    opacity: 0;
    cursor: pointer;
    display: block;
    transition: transform 0.4s ease;
    transform: translateY(-12px);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }

  .mobile-menu-btn.show {
    opacity: 1;
    transform: translateY(0);
  }

  .mobile-menu-btn.active {
    transform: rotate(180deg) scale(0.8);
  }

  .mobile-menu {
    position: fixed;
    inset: 0;
    z-index: 15;
    background: rgba(0, 0, 0, 0.7);
    /* backdrop-filter: blur(10px); */
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
  }

  .mobile-menu.show {
    opacity: 1;
    pointer-events: auto;
  }

  .mobile-menu a {
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: white;
    text-decoration: none;

    transform: translateX(250px);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }

  .mobile-menu.show a {
    transform: translateX(0);
    opacity: 1;
  }

  /* STAGGER EFFECT */
  .mobile-menu.show a:nth-child(1) {
    transition-delay: 0.1s;
  }
  .mobile-menu.show a:nth-child(2) {
    transition-delay: 0.2s;
  }
  .mobile-menu.show a:nth-child(3) {
    transition-delay: 0.3s;
  }
  .mobile-menu.show a:nth-child(4) {
    transition-delay: 0.4s;
  }

  #video-wrapper {
    position: fixed;
    inset: 0;
    overflow: hidden;
    z-index: 1;
  }

  #bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }

  #bg-video.move {
    animation: panVideo 60s linear infinite;
  }

  @keyframes panVideo {
    0% {
      object-position: 100% center;
    }
    100% {
      object-position: 0% center;
    }
  }

  #lottie-suwa {
    top: 50%;
  }

  #lottie-suwa svg {
    scale: 3;
  }

  #lottie-works svg {
    scale: 1.8;
  }

  #effect-explosion-video {
    transform: translate(5%, 80%);
  }

  .works-content {
    gap: 4px;
  }

  .work-item {
    height: 40vh;
    aspect-ratio: auto;
  }

  .works-content {
    padding: 10vh 10px 10px 10px !important;
  }

  .works-row {
    grid-template-columns: repeat(2, 1fr);
    gap: 6px !important;
    margin-bottom: 6px !important;
  }

  .intro {
    margin: 0;
    top: unset;
    left: unset;
    bottom: 20px;
  }

  .intro-logo {
    width: 90%;
    margin-left: 4vw;
    transform: translate(0, 60px);
  }

  .intro-logo.show {
    opacity: 1;
    transform: translate(0, 0);
  }

  .typing-text {
    display: none;
  }

  #lottie-suwa svg {
    width: 100% !important;
    height: 100% !important;
  }
}

@media (max-width: 768px) {
  #lottie {
    transform: scale(0.6);
  }
  #lottie,
  #lottie svg {
    overflow: visible !important;
  }
}

@media (min-width: 1280px) {
  .work-item {
    min-height: 80vh;
    aspect-ratio: auto;
  }
}
